ul {
    list-style: none;
    padding-left: 0px;
}

label{
    font-weight: bold;
}

#sbutton{
    width: 150px; 
    height: 30px;
    background-color: rgb(192, 231, 231);
    color: rgb(219, 18, 62);
    font-size: 1em;
}